/* line 1, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
body {
  background: #F0F0F0;
  font-family: Helvetica; }

/* line 6, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
a {
  color: hotpink;
  text-decoration: none; }
