/* line 1, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
body {
  background: #Fefefe;
  font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', Tahoma, Arial, sans;
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 20px 0;
  color: #444; }

/* line 9, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
img {
  max-width: 100%; }

/* line 13, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
iframe {
  border: none; }

/* line 17, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
a {
  color: #00979C;
  text-decoration: none; }

/* line 22, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
h2 {
  border-bottom: 1px solid black; }
  /* line 24, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
  h2 span {
    float: right; }

/* line 29, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
#container {
  max-width: 900px;
  margin: 0 auto; }

/* line 34, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
header {
  font-size: 2em;
  font-family: 'Futura', 'Helvetica Neue', Helvetica, 'Lucida Grande', Tahoma, Arial, sans;
  text-transform: uppercase; }
