/* line 1, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
body {
  background: #F0F0F0;
  font-family: Helvetica; }

/* line 6, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
a {
  color: #00979C;
  text-decoration: none; }

/* line 11, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
#container {
  max-width: 900px;
  margin: 0 auto; }

/* line 16, /Users/john/Code/offrobot/source/stylesheets/application.css.scss */
header {
  font-size: 2em;
  font-family: Futura;
  text-transform: uppercase; }
